@model RequestVehicleViewModel

@{
    ViewBag.Title = "Invoice";
}

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/rowReorder.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/icheck/icheck.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/icheck/custom.css">

<div>
    <div class="content-wrapper">
        <div class="content-header row">

        </div>
        <div class="content-detached content-right">
            <div class="content-body">
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title">All Requests</h4>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body" id="divContent">
                                    <!-- Task List table -->
                                    <h3>Page Under Construction</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="sidebar-detached sidebar-left" ,=",">
            <div class="sidebar">
                <div class="bug-list-sidebar-content">
                    <!-- Predefined Views -->
                    <div class="card">

                        <!-- contacts view -->
                        <div class="card-body">
                            <div class="list-group">
                                <a id="MainPanel1" class="list-group-item active">All Requests</a>
                                <a id="MainPanel2"  class="list-group-item list-group-item-action">Request Maintenance</a>
                                <a id="MainPanel3"  class="list-group-item list-group-item-action">Routine Maintenance</a>
                            </div>
                        </div>
                        <!-- Groups-->
                        <div class="card-body">
                            <p class="lead">Groups</p>
                            <ul class="list-group">
                                <li class="list-group-item" id="Pending">
                                    <span class="badge badge-primary badge-pill float-right" id="Pending">
                                    @Model.VehicleMaintenanceRequests.Where(x=>x.Status == "Pending").Count()</span> 
                                    <a> Pending Requests</a>
                                </li>
                                <li class="list-group-item" id="Approved">
                                    <span class="badge badge-info badge-pill float-right" id="Approved">
                                    @Model.VehicleMaintenanceRequests.Where(x => x.Status == "Approved").Count()</span> 
                                    <a> Approved Requests</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge badge-success badge-pill float-right">10</span> <a href="#"> Completed Requests</a>
                                </li>

                            </ul>
                        </div>
                        <!--/ Groups-->
                        <!--More-->
                        <!--/More-->
                    </div>
                    <!--/ Predefined Views -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js" type="text/javascript"></script>

<script src="~/app-assets/vendors/js/vendors.min.js" type="text/javascript" defer ></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="~/app-assets/vendors/js/tables/jquery.dataTables.min.js" type="text/javascript" defer></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"
        type="text/javascript" defer></script>

<script src="~/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"
        type="text/javascript" defer ></script>
<script src="~/app-assets/vendors/js/tables/datatable/dataTables.rowReorder.min.js"
        type="text/javascript" defer></script>
<script src="~/app-assets/js/scripts/pages/users-contacts.js" type="text/javascript"></script>

<!-- END PAGE VENDOR JS-->

<script>
    $(document).ready(function () {
        $('#users-contacts').DataTable();

        console.log('testing');

        //to get all Request List being
        $('#MainPanel1').on('click', function () {
            console.log("i work1");

            $('#MainPanel2').removeClass('active');
            $('#MainPanel3').removeClass('active');
            $('#MainPanel1').addClass('active');
            $(".card-title").html("All Request Maintenance");

            $.ajax({
                type: "get",
                cache: false,
                url: "/Invoice/Index",
                success: function (data) {
                    console.log('trying test')
                        ("#divContent").html("under contruction");
                },
                error: function (err) {
                    console.log(err, "err")
                }

            });
        })

        //to get all request maintenace
        $('#MainPanel2').on('click', function () {
            $('#MainPanel1').removeClass('active');
            $('#MainPanel3').removeClass('active');
            $('#MainPanel2').addClass('active');
            $(".card-title").html("All Request Maintenance");

            $.ajax({
                type: "get",
                cache: false,
                url: "/Invoice/AllRequestMaintenance",
                success: function (data) {
                    console.log('trying test')
                    $("#divContent").html(data);
                },
                error: function (err) {
                    console.log(err, "err")
                }

            });

        })

        // to get all  routine maintenance
        $('#MainPanel3').on('click', function () {
            console.log("i work3");

            $('#MainPanel1').removeClass('active');
            $('#MainPanel2').removeClass('active');
            $('#MainPanel3').addClass('active');
            $(".card-title").html("All Rotine Maintenance");

            $.ajax({
                type: "get",
                cache: false,
                url: "/Invoice/AllRequestMaintenance",
                success: function (data) {
                    console.log('trying test')
                    $("#divContent").html("Page Under Construction");
                },
                error: function (err) {
                    console.log(err, "err")
                }

            });
        })

        //getting all Pending maintenance
        $('#Pending').on('click', function () {

            $('#MainPanel2').removeClass('active');
            $('#MainPanel3').removeClass('active');
            $('#MainPanel1').removeClass('active');
            console.log("Pending Requests");

            $(".card-title").html("All Pending Requests");

            $.ajax({
                type: "get",
                cache: false,
                url: "/Invoice/PendingVehicleRequest",
                success: function (data) {
                    console.log('trying test')
                    $("#divContent").html(data);
                },
                error: function (err) {
                    console.log(err, "err")
                }

            });
        })

        //getting all Approved maintenance
        $('#Approved').on('click', function () {
            $('#MainPanel2').removeClass('active');
            $('#MainPanel3').removeClass('active');
            $('#MainPanel1').removeClass('active');
            console.log("Approved Requests");

            $(".card-title").html("All Approved Requests");

            $.ajax({
                type: "get",
                cache: false,
                url: "/Invoice/GetApproveRequestMaintenance",
                success: function (data) {
                    console.log('trying test')
                    $("#divContent").html(data);
                },
                error: function (err) {
                    console.log(err, "err")
                }

            });
        })



    });
 


</script>