@{
    ViewBag.Title = "Reports";
}


    <div class="content-wrapper" style="padding: 0.1rem;">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Reports</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-6 col-12">
        </div>
      </div>
      <div class="content-body">
        <!-- Description -->
        <section id="description" class="card">
          <div class="card-content">
              <div class="card-body" style="text-align:center">
                  <div class="row">
                      <div class="col-md-6" style="border-right:1px solid grey;">
                          <h6 style="font-weight:bolder">Request Maintenance History</h6>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="issueinput3">Start Date:</label>
                                      <input type="date" id="issueinput3" class="form-control" name="dateopened" data-toggle="tooltip"
                                             data-trigger="hover" data-placement="top" data-title="Start Date">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="issueinput4">End Date:</label>
                                      <input type="date" id="issueinput4" class="form-control" name="datefixed" data-toggle="tooltip"
                                             data-trigger="hover" data-placement="top" data-title="End Date">
                                  </div>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-primary">
                              <i class="la la-eye"></i> View Report
                          </button>
                      </div>
                      <div class="col-md-6">
                          <h6 style="font-weight:bolder">Hiring Request History</h6>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="issueinput3">Start Date:</label>
                                      <input type="date" id="issueinput3" class="form-control" name="dateopened" data-toggle="tooltip"
                                             data-trigger="hover" data-placement="top" data-title="Start Date">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="issueinput4">End Date:</label>
                                      <input type="date" id="issueinput4" class="form-control" name="datefixed" data-toggle="tooltip"
                                             data-trigger="hover" data-placement="top" data-title="End Date">
                                  </div>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-primary">
                              <i class="la la-eye"></i> View Report
                          </button>
                      </div>
                  </div>
                  <hr />
                  <br />
                  <br />
                  <div class="row">
                      <div class="col-md-6" style="border-right:1px solid grey;">
                          <h6 style="font-weight:bolder">Vehicle Pool By Status</h6>
                          <br /><br /><br /><br />
                          <button type="submit" class="btn btn-primary">
                              <i class="la la-eye"></i> View Report
                          </button>
                      </div>
                      <div class="col-md-6">
                          <h6 style="font-weight:bolder">Vehicle Pool By Department</h6>
                          <br /><br /><br /><br />
                          <button type="submit" class="btn btn-primary">
                              <i class="la la-eye"></i> View Report
                          </button>
                      </div>
                  </div>
                  <hr />
                  <br />
                  <br />
                  <div class="row">
                     
                      <div class="col-md-6" style="border-right:1px solid grey;">
                          <h6 style="font-weight:bolder">Vehicle Pool By Vehicle Type</h6>
                          <br /><br /><br /><br />
                          <button type="submit" class="btn btn-primary">
                              <i class="la la-eye"></i> View Report
                          </button>
                      </div>
                  </div>
              </div>
         </div>
        </section>
        <!--/ Description -->
      </div>
    </div>