@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - Transport Management System</title>
    <!-- Bootstrap -->
    <link href="~/landingPage/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Magnific -->
    <link href="~/landingPage/css/magnific-popup.css" rel="stylesheet" type="text/css" />
    <!-- Icon -->
    <link href="~/landingPage/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/landingPage/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />
    <!-- SLICK SLIDER -->
    <link rel="stylesheet" href="~/landingPage/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/landingPage/css/owl.theme.css" />
    <link rel="stylesheet" href="~/landingPage/css/owl.transitions.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="~/landingPage/css/swiper.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/landingPage/css/aos.css">
    <!-- Custom Css -->
    <link href="~/landingPage/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky">
        <div class="container">
            <a class="navbar-brand">
                <!-- Applock -->
                <img src="~/Images/knustLogo.png" class="l-dark" height="50" alt="">
                <img src="~/Images/knustLogo.png" class="l-light" height="50" alt="">Transport Management System
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="grid-gap:10px; align-items:flex-end">
                <ul class="navbar-nav mx-auto">
                </ul><!--end navbar nav-->
                <div>
                    @*<a asp-controller="Hiring" asp-action="HireBus" class="login-button mouse-down ml-3">Hire a Bus</a>*@
                </div>
                <a asp-controller="Account" asp-action="Login" class="btn btn-outline-white mb-2">Login</a>
                <!--end login button-->
            </div>
            <!--end button-->
        </div><!--end container-->
    </nav><!--end navbar-->
    <!-- Navbar End -->
    <!-- HOME START-->
    <section class="bg-home" style="background-image: url('..//Images/ShuttleBackgroundImage.jfif');" id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 text-center">
                            <div class="title-heading">
                                <h1 class="heading text-white mb-3"><span class="element" data-elements=" The Transport Unit-Knust, Expert Auto Repairs, Hire Busses"></span></h1>
                                <p class="para-desc mx-auto text-white-50">Great content details the repair process for potential clients, helping them to feel confident that they know exactly what they are paying for.</p>
                                <div class="mt-4 pt-2">
                                    <a asp-controller="Hiring" asp-action="HireBus" class="btn btn-custom mb-2 mr-2">Hire a Bus</a>
                                    @*<a class="btn btn-outline-white mb-2" asp-controller="Account" asp-action="Login"><i class="ft-power"></i> Login</a>*@
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end container-->

                <div class="container-fluid">
                    <div class="row">
                        <div class="home-shape">
                            <img src="~/landingPage/images/shp04.svg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div><!--end row-->
                </div><!--end container fluid-->
            </div><!--end home desc center-->
        </div><!--end home center-->
    </section><!--end section-->
    <!-- HOME END-->



    <script src="~/landingPage/js/jquery.min.js"></script>
    <script src="~/landingPage/js/bootstrap.bundle.min.js"></script>
    <script src="~/landingPage/js/jquery.easing.min.js"></script>
    <script src="~/landingPage/js/scrollspy.min.js"></script>
    <!-- SLIDER -->
    <script src="~/landingPage/js/owl.carousel.min.js "></script>
    <!-- Magnific Popup -->
    <script src="~/landingPage/js/jquery.magnific-popup.min.js"></script>
    <!-- Contact -->
    <script src="~/landingPage/js/contact.js"></script>
    <!-- Counter -->
    <script src="~/landingPage/js/counter.init.js"></script>
    <!-- Swiper JS -->
    <script src="~/landingPage/js/swiper.min.js"></script>
    <!-- Animation JS -->
    <script src="~/landingPage/js/aos.js"></script>
    <!-- Typed -->
    <script src="~/landingPage/js/typed.js"></script>
    <script src="~/landingPage/js/typed.init.js"></script>
    <!-- Animation JS -->
    <script src="~/landingPage/js/jquery.nicescroll.js"></script>
    <!-- Plugin init -->
    <script src="~/landingPage/js/plugin.init.js"></script>
    <!-- Main Js -->
    <script src="~/landingPage/js/app.js"></script>
</body>
</html>
