@model SparePartViewModel

@{
    ViewData["Title"] = "EditSparePart";
}

<h1>Edit Spare Part</h1>

<div>
    <div class="card-body" style="background-color:white; width:90%">
        <form asp-action="EditSparePart" method="post" asp-controller="SparePart">
            <input hidden  asp-for="SparePartId"/>
            <div class="form-group">
                <label>Spare Part Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" asp-for="SparePartName" placeholder="Spare Part Name" style="width:50%">
                <span asp-validation-for="SparePartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantity: <span class="text-danger">*</span></label>
                <input type="number" class="form-control" asp-for="SparePartQuantity" placeholder="Enter Quantity" style="width:50%">
                <span asp-validation-for="SparePartQuantity" class="text-danger"></span>
            </div>

            <div style="display:flex; grid-gap:10px">
                <a asp-action="Index" class="btn btn-primary" asp-controller="SparePart">Back</a>

                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
